<!DOCTYPE html>
<html>

<head>
    <title>HTTP 404</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{errorMsg}}
    </div>
    {{>footer}}
</body>

</html>